<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SignUp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h3>SignUp</h3>
        <form method="post" action="/signup">
            {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" id="username" pattern="[a-z0-9A-Z]{4,}" placeholder="Enter username" required/>
            <br>
            <label>First Name</label>
            <input type="text" name="fname" id="fname" pattern="*[a-zA-Z]" placeholder="Enter your first name" required/>
            <br>
            <label>Last Name</label>
            <input type="text" name="lname" id="lname" pattern="*[a-zA-Z]" placeholder="Enter your last name" required/>
            <br>
            <label>Email Address</label>
            <input type="text" name="email" id="email" pattern="^\w+[.]?\w+[@][a-z]+[.][a-z]{2,3}$" placeholder="Enter your email id" required/>
            <br>
            <label>Password</label>
            <input type="password" name="pwd" password="^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])[A-Za-z\d@$!#%*?&]{6,10}$" id="pwd" placeholder="Enter your password" required/>
            <br>
            <label>Confirm password</label>
            <input type="password" password="^(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*])[A-Za-z\d@$!#%*?&]{6,10}$" name="cpwd" id="cpwd" placeholder="Enter your password" required/>
            <br>
            <button type="submit" name="btn" id="btn"/>Sign Up</button>
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>